.form-main {
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    margin-top:10px
}

.date-main{
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 15px;
    margin: auto;
    margin-top:10px
}